/* Contact Us Page Start */

.th-social a {
  background: #5db1db;
}

.card-shadow {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location-background {
  background-color: #bde99d;
}

/* Phone Ring Animation */

.contact-info:hover .fa-phone {
  animation: phone-ring 0.8s infinite;
}

/* .contact-info:hover .fa-phone {
  animation: phone-ring 0.6s ease-in-out;
} */

@keyframes phone-ring {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  45% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-12deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Envelope Zoom In/Out Animation */

/* .contact-info:hover .fa-envelope {
  animation: envelope-zoom 0.6s ease-in-out;
} */

.contact-info:hover .fa-envelope {
  animation: envelope-zoom 1s infinite;
}

@keyframes envelope-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.space-city,
.space-bottom {
  padding-bottom: var(--section-space);
}

.contact-info_text:hover a {
  color: var(--theme-color);
}

/* Attractive Section Title Animation */
.sec-title1 {
  font-size: 42px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #00b4db,
    #8cc63f,
    #00b4db,
    #8dc149,
    #00b4db,
    var(--theme-color)
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
  to {
    background-position: 200% center;
  }
}
/* Contact Us Page End */
